# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

# Import API key
from api_keys import g_key
gmaps.configure(api_key = g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
output_data_file = "../output_data/weather_df.csv"
# output_data_file

types_df = pd.read_csv(output_data_file)

weather_data_df = types_df.drop(columns=["Unnamed: 0"])
weather_data_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,ushuaia,90,AR,1578933632,87,-54.80,-68.30,55.40,2.62
1,mataura,0,NZ,1578933633,91,-46.19,168.86,41.00,1.01
2,longyearbyen,20,SJ,1578933634,76,78.22,15.64,-5.80,3.36
3,cape town,0,CL,1578933634,56,-36.41,-71.90,73.40,4.70
4,hilo,90,US,1578933635,51,19.73,-155.09,86.00,10.29
5,jamestown,90,US,1578933635,93,42.10,-79.24,46.00,5.82
6,punta arenas,99,PH,1578933635,88,8.99,125.34,74.88,0.36
7,rikitea,17,PF,1578933636,79,-23.12,-134.97,77.54,11.79
8,daru,59,PG,1578933636,95,-9.08,143.21,73.27,7.07
9,avarua,84,CK,1578933636,88,-21.21,-159.78,77.00,9.17
10,lebu,26,CL,1578933637,59,-37.62,-73.65,68.94,10.78
11,buala,100,SB,1578933637,80,-8.14,159.59,81.46,12.84
12,pouebo,95,NC,1578933637,88,-20.40,164.57,70.72,4.34
13,busselton,0,AU,1578933637,33,-33.65,115.33,69.01,13.67
14,atuona,11,PF,1578933637,77,-9.80,-139.03,81.01,14.63
15,aksu,100,CN,1578933638,64,41.12,80.26,25.93,1.61
16,northam,75,GB,1578933638,87,51.03,-4.22,51.80,25.28
17,cusco,40,PE,1578933383,52,-13.52,-71.98,64.40,2.24
18,talnakh,75,RU,1578933353,84,69.49,88.40,5.00,31.32
19,karema,76,TZ,1578933639,73,-6.82,30.44,75.20,4.50
20,poum,96,NC,1578933640,77,-20.23,164.02,79.97,24.52
21,saskylakh,0,RU,1578933640,88,71.92,114.08,-13.65,6.89
22,disraeli,90,CA,1578933641,85,45.90,-71.35,21.00,5.82
23,ilulissat,75,GL,1578933641,65,69.22,-51.10,5.00,11.41
24,new norfolk,20,LR,1578933642,59,6.65,-10.59,93.20,8.05
25,nikolskoye,90,RU,1578933642,89,59.70,30.79,36.00,13.42
26,hermanus,67,ZA,1578933643,91,-34.42,19.23,70.12,21.79
27,port alfred,63,CD,1578933643,72,-7.03,29.76,77.02,6.62
28,biarritz,67,FR,1578933644,41,43.48,-1.56,60.01,8.05
29,pisco,20,PE,1578933644,30,-13.70,-76.22,73.99,8.05
...,...,...,...,...,...,...,...,...,...
493,belmonte,20,BR,1578933740,74,-15.86,-38.88,87.80,9.17
494,sur,3,OM,1578933740,60,22.57,59.53,64.17,5.46
495,olinda,20,BR,1578933645,62,-8.01,-34.86,86.00,10.29
496,aswan,84,EG,1578933740,28,24.09,32.91,63.45,11.97
497,banda aceh,0,IN,1578933548,45,25.48,80.33,59.32,8.19
498,santa vitoria do palmar,18,PH,1578933740,82,17.49,120.43,68.07,5.39
499,aksarayskiy,75,RU,1578933741,80,46.79,48.01,33.80,13.42
500,tromso,75,NO,1578933741,86,69.65,18.96,36.00,20.80
501,igarka,100,RU,1578933741,92,67.47,86.58,2.75,21.50
502,thaba-tseka,78,LS,1578933741,82,-29.52,28.61,54.27,4.68
503,monte azul,40,FR,1578933741,71,42.47,9.39,53.60,2.24
504,kosh-agach,14,RU,1578933741,88,50.00,88.67,-11.11,1.54
505,sangar,100,RU,1578933741,95,63.92,127.47,-19.80,6.96
506,narsaq,75,GL,1578933741,46,60.92,-46.05,6.80,4.70
507,hovd,56,MN,1578933742,91,48.01,91.64,-8.27,1.34
508,lomza,100,PL,1578933742,89,53.18,22.06,39.33,9.26
509,pangoa,1,PE,1578933742,50,-12.12,-73.00,89.02,5.03
510,rumonge,98,BI,1578933742,65,-3.97,29.44,69.87,4.97
511,prieska,31,ZA,1578933742,14,-29.66,22.75,90.34,9.28
512,newport,100,GB,1578933467,87,51.59,-3.00,51.01,23.04
513,kristiinankaupunki,21,FI,1578933742,79,62.27,21.38,34.25,9.19
514,charters towers,90,US,1578933742,87,38.57,-83.43,46.00,5.82
515,ternate,98,ID,1578933742,93,0.80,127.40,74.84,3.24
516,winnemucca,1,US,1578933743,50,40.97,-117.74,33.80,8.05
517,arona,20,ES,1578933743,72,28.10,-16.68,68.00,9.17
518,ketchikan,1,US,1578933743,62,55.34,-131.65,19.40,10.29
519,dongsheng,0,CN,1578933743,72,39.82,109.98,2.35,4.07
520,bastia,40,FR,1578933743,71,42.67,9.33,51.80,2.24
521,sisimiut,99,GL,1578933743,91,66.94,-53.67,-0.45,6.06
522,balkhash,60,KZ,1578933743,92,46.84,74.98,9.63,4.68

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
gmaps.configure(api_key=g_key)

In [11]:
locations = weather_data_df[["Lat", "Lng"]]
# locations

humidity = weather_data_df["Humidity"].astype(float)

# humidity

# figure_layout = {
#     'width' : '1000px',
#     'height':'400px',
#     'border':'1px solid black',
#     'padding':'1px',
#     'margin':'0 auto 0 auto'
# }

# fig = gmaps.figure(layout=figure_layout)

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. 
# You want to be sure the weather is ideal

new_types_df = pd.DataFrame(weather_data_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (new_types_df["Max Temp"] <= 80) & (new_types_df["Max Temp"] > 70)
wind_speed = new_types_df["Wind Speed"] < 10
cloudiness = new_types_df["Cloudiness"] == 0

# new_types_df[max_temp & wind_speed & cloudiness]
new_types_df[max_temp & wind_speed & cloudiness]

             City  Max Temp  Wind Speed  Cloudiness
3       cape town     73.40        4.70           0
188          doka     71.38        8.05           0
292         yaval     72.68        7.25           0
333         birao     70.02        8.93           0
454  corral nuevo     73.40        3.36           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [14]:
hotel_df = pd.DataFrame(weather_data_df, columns=["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"] = ""
# hotel_df["Coordinates"]=""
hotel_df

                        City Country    Lat     Lng Hotel Name
0                    ushuaia      AR -54.80  -68.30
1                    mataura      NZ -46.19  168.86
2               longyearbyen      SJ  78.22   15.64
3                  cape town      CL -36.41  -71.90
4                       hilo      US  19.73 -155.09
5                  jamestown      US  42.10  -79.24
6               punta arenas      PH   8.99  125.34
7                    rikitea      PF -23.12 -134.97
8                       daru      PG  -9.08  143.21
9                     avarua      CK -21.21 -159.78
10                      lebu      CL -37.62  -73.65
11                     buala      SB  -8.14  159.59
12                    pouebo      NC -20.40  164.57
13                 busselton      AU -33.65  115.33
14                    atuona      PF  -9.80 -139.03
15                      aksu      CN  41.12   80.26
16                   northam      GB  51.03   -4.22
17                     cusco      PE -13.52  -71.98
18                   talnakh      RU  69.49   88.40
19                    karema      TZ  -6.82   30.44
20                      poum      NC -20.23  164.02
21                 saskylakh      RU  71.92  114.08
22                  disraeli      CA  45.90  -71.35
23                 ilulissat      GL  69.22  -51.10
24               new norfolk      LR   6.65  -10.59
25                nikolskoye      RU  59.70   30.79
26                  hermanus      ZA -34.42   19.23
27               port alfred      CD  -7.03   29.76
28                  biarritz      FR  43.48   -1.56
29                     pisco      PE -13.70  -76.22
..                       ...     ...    ...     ...        ...
493                 belmonte      BR -15.86  -38.88
494                      sur      OM  22.57   59.53
495                   olinda      BR  -8.01  -34.86
496                    aswan      EG  24.09   32.91
497               banda aceh      IN  25.48   80.33
498  santa vitoria do palmar      PH  17.49  120.43
499              aksarayskiy      RU  46.79   48.01
500                   tromso      NO  69.65   18.96
501                   igarka      RU  67.47   86.58
502              thaba-tseka      LS -29.52   28.61
503               monte azul      FR  42.47    9.39
504               kosh-agach      RU  50.00   88.67
505                   sangar      RU  63.92  127.47
506                   narsaq      GL  60.92  -46.05
507                     hovd      MN  48.01   91.64
508                    lomza      PL  53.18   22.06
509                   pangoa      PE -12.12  -73.00
510                  rumonge      BI  -3.97   29.44
511                  prieska      ZA -29.66   22.75
512                  newport      GB  51.59   -3.00
513       kristiinankaupunki      FI  62.27   21.38
514          charters towers      US  38.57  -83.43
515                  ternate      ID   0.80  127.40
516               winnemucca      US  40.97 -117.74
517                    arona      ES  28.10  -16.68
518                ketchikan      US  55.34 -131.65
519                dongsheng      CN  39.82  109.98
520                   bastia      FR  42.67    9.33
521                 sisimiut      GL  66.94  -53.67
522                 balkhash      KZ  46.84   74.98

[523 rows x 5 columns]

In [15]:
# coordinates_lat_lng = []

# target_city = hotel_df["City"]
# # target_city

# target_type = "hotel"

# hotel_df["Coordinates"] = hotel_df["Lat"] + "," + hotel_df["Lng"]

# radius = 5000

# params = {
#     "location:" : coordinates_lat_lng,
#     "types" : target_type,
#     "radius" : radius, 
#     "key" : g_key
# }

# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# print("A HOTEL WITHIN A 5000 METER RADIUS")

# response = requests.get(base_url, params)
# # print(response.url)

# hotel_distance = response.json()
# print(json.dumps(hotel_distance, indent=4, sort_keys=True))

target_coordinates = f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

In [16]:
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# params = {
#     "location": (hotel_df["Lat"], hotel_df["Lng"]),
#     "rankby": "distance",
#     "type" : "hotel", 
#     "key" : g_key
# }

# # params
pprint(response.json(), depth=1)

{'html_attributions': [],
 'next_page_token': 'CrQCIwEAAGlRzebUX9zuJiPBddgdyWo0l0uQ7ddP0RbVCFaEoQib_cs-IO8T52VJB5bd5PG_i7Ux3QxQ57-3KEjydBdFl3Ljd7o6XMm1-VTW293PQBbS8xoErMgc_bOVOpfALIgWi_Q5jVcvINt7Znf7rLE3tbXXzt-Q-LQCCJj9BfeYDsVFA9BsTJ9ZrlwrEH-AoC3ctLRkCChfvMz3Kk6QOn8kShjEczHWKAdn2w6KxX3wsrHDxP8ZmaooirAv7bPnCFv6tAfd7lJJ15pjRixRUtd6ZO4_SxBDZUINqRPsN_3brf6owl9gDI4jmseH2ZVJG3JSipZNQhirfVCJ2TCzBIItxNLrbHfWpZ6r_X9o9XlqAc-gMRCLsZCVkdvg2ZP20NiZ_JpDQIDKMMfmSitU3k9Y3l4SEGTZhU8Lr7IMnu9MU0e9_AwaFP9M59ZAnV5ujJ3Zu1CCcmZJZnyQ',
 'results': [...],
 'status': 'OK'}

In [17]:
hotel_df.iloc[0][0]

'ushuaia'

In [18]:
#creates a list to capture hotel_names to insert into dataframe
hotel_name = []

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# taken from Airpost_Ratings Example done in class
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    try:
#         hotel_df.iloc[index, 4] = name_address['results'][0]['name']
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [19]:
hotel_name

['Los Cauquenes Resort & Spa',
 'Falls Hotel',
 'Radisson Blu Polar Hotel, Spitsbergen',
 'Hotel Molino Viejo',
 'Grand Naniloa Hotel Hilo - a DoubleTree by Hilton',
 'Chautauqua Harbor Hotel',
 nan,
 "Pension Maro'i",
 'Daru hotel',
 'The Edgewater Resort and Spa',
 'Hotel Plaza Lebu',
 'Maringe Lagoon Lodge',
 nan,
 'Abbey Beach Resort',
 'Hôtel Hiva Oa Hanakee Lodge',
 'Pudong Holiday Hotel',
 'Seagate Hotel',
 'Hilton Garden Inn Cusco',
 'Talnakh Hotel',
 nan,
 nan,
 nan,
 'Auberge De La Chanterelle',
 'Hotel Arctic',
 nan,
 'Tourist House - Sablino',
 'Harbour House Hotel',
 nan,
 'Radisson Blu Hotel, Biarritz',
 'Embassy Beach',
 'Le Monitel',
 nan,
 'Shanti Maurice Resort & Spa',
 nan,
 'Kak Doma',
 'Casa Rodo 53',
 'Casa de Fares',
 'Amita Hotel Boutique',
 nan,
 nan,
 nan,
 'Paradise First Hotel',
 'Hotel Arena Gruesa',
 'Top of the World Hotel',
 'Royal Amazonia',
 nan,
 "L'oiseau de Paradis",
 "Land's End Boutique Hotel",
 'Avasta Resort and Spa',
 'Bismillah Hotel And Lodging',
 '6 On Kloof Guesthouse',
 'AZALAÏ HOTEL NOUAKCHOTT (MARHABA )',
 'Gostinitsa Aslan',
 'Hotel Olafsvik',
 'Café de Upernavik',
 nan,
 'Laluna Boutique Beach Hotel and Villas',
 'Obelix Guesthouse',
 nan,
 'Safa hotel jowhar somalia',
 'Гостиница "Турист"',
 nan,
 'Pearl Hotel Derna',
 'Red Roof Inn Clyde',
 'Renaissance Naples Hotel Mediterraneo',
 'Eastern & Oriental Hotel, Penang',
 'The Red House',
 'The Explorer Hotel',
 'Hotel Klaksvík',
 'Hengifoss Guesthouse',
 'Barefoot Guest House',
 'Sitka Hotel & Restaurant',
 nan,
 'Hotel Coral Reef',
 'Rivero Hotel Chuí',
 nan,
 'Best Western Thompson Hotel & Suites',
 nan,
 nan,
 'Gostinitsa "Kyzyl Zhar"',
 'Hotel Monasterio de San Miguel',
 'Hotel Vestmannaeyjar',
 'Country Inn & Suites by Radisson, Camp Springs (Andrews Air Force Base), MD',
 nan,
 'Pousada Rota Dos Tropeiros',
 'Hotel El Molino de Don Pepe',
 'Qaanaaq Hotel',
 'Castelo Encantado',
 'The Jetty Resort',
 'Frobisher Inn',
 nan,
 nan,
 'Best Western Danbury/Bethel',
 nan,
 'Le Rocher de Tahiti',
 nan,
 "Pinpin d'Amour",
 nan,
 'Gostinitsa V Okhotske',
 'Emerald Star Hotel',
 nan,
 nan,
 'MY FINE STAY',
 'Hotel Maharajah Mayotte',
 nan,
 nan,
 'Hotel G Beach Resort and Restobar',
 'Walai Resort',
 'Grand Vilia Hotel',
 nan,
 'Rossi Hotel',
 nan,
 nan,
 nan,
 'Arktika',
 'Heluya International Hotel',
 'OURE TERA beach resort',
 nan,
 nan,
 nan,
 'Mandara Kauai',
 'Hôtel Las Palmas',
 'Hotel Guacanayabo',
 'hotel simao',
 'Sundog Inn',
 'Zhangye Lvzhou Holiday Inn',
 'Cyan Soho Neuquen Hotel',
 'Days Inn by Wyndham Whitehorse',
 'Graciosa Resort - Biosphere Island Hotel',
 nan,
 'Bear River Casino Resort',
 'Sentidos Beach Retreat',
 nan,
 "Pike's Waterfront Lodge",
 'Vila de Cima House',
 nan,
 'The Brunswick Hotel',
 'Aurora Inn & Suites',
 'Serafima, Gostinitsa',
 nan,
 'Medhufushi Island Resort',
 'Pousada Rosa',
 'Hotel ICON',
 'Preluna',
 'Hotel Kap Farvel',
 '马鞍山万达嘉华酒店',
 'Macdonald Houstoun House',
 nan,
 'ibis Styles Geraldton',
 'Wajiima Onsen Yashio',
 nan,
 'Beira Terrace Hotel',
 nan,
 nan,
 'Matu Island',
 'JOYAU CACHÉ',
 'Khalifa Homestay',
 nan,
 nan,
 nan,
 'Hotel Folkloro Sanriku Kamaishi',
 'Hospitality Carnarvon',
 'Auyuittuq Lodge (Inns North)',
 'Turtle Beach By Elegant Hotels',
 'HOTEL R. SOARES',
 'Aspen Suites Hotel Haines',
 'Qandeel hotel',
 'Salalah Gardens Hotel',
 'Eurostars Porto Douro',
 nan,
 'DoubleTree by Hilton Hotel Guangzhou',
 nan,
 nan,
 'Hampton Inn Pampa',
 'İskilip Gücü Lokali Ve Oteli',
 nan,
 'Puri Brata',
 'Nusa Island Retreat',
 nan,
 'Axim Beach Hotel',
 'Rahat Hotel',
 '维也纳酒店',
 'Colts Neck Inn Hotel',
 'Lorengau Harbourside Hotel',
 'Holiday Inn Express and Suites Havelock',
 'Hôtel & Spa Le Saint Alexis',
 'AmericInn by Wyndham, Wadena',
 'Sheraton Santos Hotel',
 nan,
 'Warwick Doha Hotel',
 'Hôtel Teriya',
 'Shandrani Beachcomber Resort & Spa',
 'Tabriz Hotel',
 'Transcorp Hotels Calabar',
 'Westmark Fairbanks Hotel & Conference Center',
 'Glamping Fukuoka Budo No Ki',
 'Gostinitsa Grenada',
 'BULDANA URBAN RESIDENCY CLUB',
 'Vardø Hotel AS',
 'Codrington Gardens Bed And Breakfast',
 "Hunter's B&B",
 nan,
 nan,
 '海南康乐园海航度假酒店',
 'The Queens Hotel, Lerwick',
 'Shangri-La Hotel',
 'Atlantis Hotel',
 'Wyndham Costa del Sol Pucallpa',
 'Embassy Suites by Hilton Lompoc Central Coast',
 'Hôtel Teriya',
 'Kangcheng Jian Guo International Hotel',
 'Aparthotel Adagio Access Orléans',
 'Six Acres Bed & Breakfast',
 'Protea Hotel by Marriott Takoradi Select',
 'Gostinitsa Mup Zhkkh',
 'Enjoy Coquimbo Hotel de la Bahía',
 'Hotel Saptagiri Boarding And Lodging',
 'Katsuura Hotel Mikazuki',
 'Luna',
 'Hotel Terrado Cavancha',
 nan,
 'Hotel Europa',
 'Protea Hotel by Marriott Saldanha Bay',
 'Hôtel La Villa Couacou',
 nan,
 nan,
 'Elite Grand Hotel',
 nan,
 'Pandan Beach and Picnic Grove',
 'Candlewood Suites Texas City',
 'First Hotel Stadt',
 nan,
 'Thon Hotel Måløy',
 nan,
 'Last Light Lodge',
 'Hattusa Vacation Thermal Club Erzin',
 'Desert Gardens Hotel - Ayers Rock Resort',
 'Hampton Inn & Suites Woodward',
 nan,
 'Taloa Heights',
 'Auberge mer et desert',
 'Hôtel Teriya',
 'Dan Caesarea',
 'Renaissance Aruba Resort & Casino',
 'Quinta Samay',
 'On the Beach',
 'Long Island Marriott',
 'Sofitel Xining',
 nan,
 'Best Western Dulles Airport Inn',
 'Casa dos Lagos - AL',
 'DoubleTree by Hilton Hotel Bemidji',
 nan,
 'Madani Hotel',
 'Zhemchuzhina',
 'La Pirogue Mauritius',
 'Hotel Mirage',
 'Hilton Garden Inn Norwalk',
 'HOTEL GB',
 'Hotel Du Havre',
 'Baobab Tree Hotel & Spa',
 nan,
 'Hotel Taktsang',
 'Hotel Pippa',
 nan,
 'The Marina Phuket Hotel',
 'Ibis Padang',
 nan,
 nan,
 'Hotel Santo',
 'Hotel Itarema Residence',
 'Garden Hotel',
 'Distinction Dunedin Hotel',
 nan,
 nan,
 'Pousada Amigos do Vento',
 'Inn Inubosaki hotel of superb view',
 nan,
 'Auberge de l’Île',
 'Hotel Continental Luanda',
 'Moinho do Poço Verde',
 'Hotel Villa María',
 nan,
 'Hôtel Kyriad Carentan',
 'Apera Beach Front Bungalows',
 "Hotel D'Piero",
 nan,
 nan,
 'Royal Kutachika Lodge',
 'Berlevåg camping & Appartement AS',
 'Marawi Resort Hotel',
 'Hotel Los Arcos',
 nan,
 nan,
 'SpringHill Suites by Marriott Thatcher',
 'Hilton Garden Inn Sacramento Elk Grove',
 'Hotel Dreams de la Patagonia',
 nan,
 'Hilton Garden Inn Dandong',
 'Hotel los Mangos',
 nan,
 'Hotel Düsseldorf',
 nan,
 'Hotel Wisata Indah',
 'Shelikof Lodge',
 nan,
 nan,
 'Holiday Inn Express Richmond - Midtown',
 'Country Inn & Suites by Radisson, Carlisle, PA',
 'Bulgan Skytel',
 'Radisson Blu Hotel Kashgar',
 'Hotel ibis Catanduva',
 nan,
 'Algys',
 'Courtyard by Marriott Norman',
 'Hondaafushi Island Resort',
 'Tambora Homestay Bima',
 nan,
 'Le Méridien Bora Bora',
 'Donja Quixote',
 'Farmhouse 50',
 'Moinho do Poço Verde',
 nan,
 nan,
 'Hotel Real Oeiras',
 "Teko's hotel",
 nan,
 'Hotel Ychoalay Caz',
 nan,
 'Chukotka hotel',
 'Pullman Miri Waterfront',
 nan,
 nan,
 nan,
 'Hotel Grüner Baum',
 'Holiday Inn Express Howe (Sturgis, MI)',
 nan,
 nan,
 'Húsavík Hotels',
 'Lofoten Værøy Brygge',
 'Gostinitsa "Kak Doma"',
 'Hampton Inn Laramie',
 nan,
 'Hotel National',
 'Hotel Porto Santo & Spa',
 'Гостиница Достық',
 nan,
 'MStar Hotel Kitimat',
 nan,
 nan,
 'Hotel Jardín del Valle INN',
 'Untertelshof',
 'Holiday Inn Saint Louis West at Six Flags',
 nan,
 'Best Western Hotel Cristallo',
 'Surfeel Hotel Wakkanai',
 nan,
 'Гостиничный комплекс «Кедр»',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 "Hôtel Le Mas de l'Olivier",
 'Hotel Variant C',
 'The Tattva Resort',
 nan,
 nan,
 'Hôtel Teriya',
 'Fairfield Inn & Suites by Marriott Chicago Southeast/Hammond, IN',
 nan,
 'Mar Guesthouse',
 'Airotel Achaia Beach',
 'Zaoyabg International Hotel',
 'Kenai Airport Hotel',
 nan,
 'Zliten Hotel',
 'Hotel RIKMAN Continental',
 'DHEADITA Hotel',
 'Hotel Punta León',
 'Mesa International Hotel',
 nan,
 'Toraja Heritage Hotel',
 'Prestige Hudson Bay Lodge',
 'Hotel Miramar',
 nan,
 'Hostel Marika-ホステルマリカ-（宮崎県）',
 'Ria Celestun',
 'Bamboo Paradise Hotel',
 'Grand Kesambi Resort and Villas',
 'Manor House Lindley',
 'The Inn at Fox Hollow',
 nan,
 nan,
 nan,
 'Quality Hotel Florø',
 nan,
 'Porto Pacuíba Hotel',
 'Sentidos Beach Retreat',
 nan,
 'Pensiunea Sophia',
 'Hôtel Teriya',
 nan,
 'Hotel Lobo de Mar',
 "Motel' Osakarovka",
 'Hôtel Teriya',
 'Lodge At Ancient City',
 nan,
 'Aljezur Villas Hostel',
 'Damghan Tourism Hotel',
 'Hotel Nemuro Kaiyoutei',
 'Ancyra Hotel By Continent - Poso',
 'The Cliffs Hotel and Spa',
 nan,
 'BULDANA URBAN RESIDENCY CLUB',
 'Hotel King Star',
 "Marriott's Ko Olina Beach Club",
 nan,
 'Grand Hotel Vittoria',
 'Grand restaurant & hotel',
 'Kelly Inn & Suites',
 'Urban Style by Front One',
 nan,
 'Motel "Traffic Light"',
 'Crown Victoria Hotel',
 nan,
 'Muzina Guest House',
 'BeatzWave Studios',
 'Nikolsky Posad',
 "The Wayward Traveler's Inn",
 nan,
 nan,
 'Hôtel Particulier Montmartre',
 'Thon Hotel Kautokeino',
 'Hotel Kununurra',
 'Nuli Sapi',
 'Hôtel Teriya',
 'Bannisters Pavilion',
 'Hôtel Ibis Marseille Provence Aéroport',
 'Hampton Inn & Suites Stephenville',
 '"Prypiać" Hotel',
 'Ballina Byron Islander Resort',
 'Maitai Lapita Village Huahine',
 nan,
 'Pezula Resort Hotel & Spa',
 'Hôtel Teriya',
 'Foyles of Glasbury',
 'The Lamp Hotel',
 nan,
 nan,
 'Rose Garden Dinner Bed and Breakfast',
 'La Tortuga Verde',
 'The Westin Langkawi Resort & Spa',
 'Hotel y Departamentos El Castillo Niebla',
 'Bonthe Holiday Village',
 'Best Western Lawrenceburg Inn',
 'Hotel "Nord House"',
 'Levkada',
 'Gostinitsa Uyut',
 nan,
 'JOAFRAN HOTEL',
 'abba Playa Gijón Hotel',
 'Hotel Excelsior',
 'Days Inn & Suites by Wyndham Cabot',
 'Four Points by Sheraton Oran',
 'Ulvesund FYR',
 'Lakeview Hotel Motel',
 'Эко отель "Альтаир"',
 'Ramada by Wyndham Pottsville/Frackville',
 'Ijole Bale Hotel',
 'Hotel Mercure Rochefort La Corderie Royale',
 '"Vaga" hotel',
 'Ujamaa Beach Resort',
 'Heritage Inn Hotel & Convention Centre',
 nan,
 nan,
 'Kingwood Hotel (Sibu) Sdn Bhd',
 'Hotel Matiyury',
 'Holiday Inn Express Mesa Verde-Cortez',
 'Hotel Oasis Atlantico Praiamar',
 'Hotel Olako',
 'Novo Hotel Varandas',
 nan,
 'E-Hotel Muravlenko',
 nan,
 'emirdağ oteli',
 'Hampton by Hilton Ufa',
 'Amami Sun Plaza Hotel',
 'Hôtel Teriya',
 'Hampton Inn Alice',
 'Best Western Plus Grapevine Inn',
 'The Tower Hotel',
 'Pousada Rio',
 'Resort Sur Beach Holiday منتجع شاطئ صور هوليداي',
 'Hotel 7 Colinas',
 'Hotel Sofitel Legend Old Cataract Aswan',
 'S S Residency- Best Hotel in Banda',
 nan,
 nan,
 'Radisson Blu Hotel, Tromsø',
 'Igarka Airport Hotel',
 'Mohale Oa Masite Hotel',
 "L'appollu",
 'Vizit-tsentr Sailiughiemskii',
 nan,
 'Hotel Narsaq',
 'Steppe hotel',
 'Metropol',
 nan,
 'Bethel Hotel',
 'Gariep Country Lodge',
 'The Celtic Manor Resort',
 'Hotelli Krepelin',
 nan,
 'Hotel Emerald',
 'Holiday Inn Express Winnemucca',
 'H10 Las Palmeras',
 'Inn at Creek Street',
 'Crowne Plaza Ordos',
 "Hôtel Sant'Andria",
 'Hotel Sisimiut',
 'Guest House Comfort-House-Balkhash']

In [20]:
hotel_df['Hotel Name']= hotel_name
hotel_df.dropna()
hotel_df.to_csv('hotel_export.csv')

In [22]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [26]:
# hotel_info
# locations

In [27]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))